<ion-app>
  <ion-header *ngIf="!showSplash">
    <ion-toolbar color="white">
      <ion-title>
        <a class="clickable">
          <img src="assets/img/logo.jpg" />
        </a>
      </ion-title>

      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="end" menuId="first" contentId="main">
    <ion-toolbar color="white"></ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Home</ion-item>
        <ion-item routerLink="/inscription">Inscription</ion-item>
        <ion-item *ngIf="!isConnected; else deco" routerLink="/login">Connexion</ion-item>
        <ng-template #deco>
          <ion-item button (click)="logout()">Déconnexion</ion-item>
        </ng-template>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-content [scrollEvents]="true">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer *ngIf="!showSplash">
    <div class="div_footer">
      <span> &copy; RDVVaksiny, All Right Reserved. </span>
      <span> Copyright 2022 </span>
    </div>
  </ion-footer>
</ion-app>
