<ion-content>
  <a>
    <img src="assets/img/logo.jpg" />
  </a>

  <ion-item>
    <ion-label>Nom Patient</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="transgender-outline"></ion-icon>
    <ion-label>Sexe</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar-number-outline"></ion-icon>
    <ion-label>Date de naissance</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label>Email</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="call-outline"></ion-icon>
    <ion-label>Télephone</ion-label>
  </ion-item>
</ion-content>
